h6
{
  font-size: var(--h6);
  line-height: var(--h6-line_height);
  letter-spacing: var(--h6-letter_spacing);
  margin-top: 20vw;
  padding-bottom: 4.44444vw;
  display: block;
  text-align: center;
}
.settings
{
  width: var(--grid_width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc(var(--grid_gutter)/2);
}
